body {
    width: 100%;
    height: 100%;
    background-color: rgb(167, 139, 108);
    box-sizing: border-box;
   overflow-x: hidden;
    
}

.topnav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 10px 5px;
}

@media screen and (min-width: 641px) and (max-width: 1007px){
    .topnav{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 10px 5px;
    }
}

@media screen and (min-width: 1008px) {
    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.topnav .wrapper {
    flex: 50%;
    margin-left: -5px;

}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .topnav .wrapper {
        flex: 22%;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1008px) {
    .topnav .wrapper {
        flex: 70%;
    }
}


.topnav .wrapper .outer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 30px;
}

.topnav .wrapper .outer .alpha {
   width: 120px;
   height: 120px;
   border: 9px solid black;
   border-radius: 50%;
   position: relative;
   background-color: rgb(70, 6, 70);
}

.topnav .wrapper .outer .alpha .one {
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
    position: absolute;
    top: -45px;
    left: 20px;
 }

 .topnav .wrapper .outer .alpha .two {
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
    position: absolute;
    top: -25px;
    left: 55px;
 }

 

 .topnav .wrapper .name-wrapper{
    width: 100%;
     background-color: transparent;
 }

 .topnav .wrapper .name-wrapper .border{
    width: 210px;
    height: 35px;
    background-color: rgba(111, 119, 128, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.topnav .wrapper .name-wrapper .border .three {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Tangerine', cursive;
    color: black;
    position: absolute;
    top: -18px;
    word-spacing: 0.2rem;
    letter-spacing: 7px;
}

.topnav .wrapper .name-wrapper .border .four {
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: black;
    position: absolute;
    top: 9px;
    word-spacing: 0.7rem;
    letter-spacing: 2px;
}
.topnav #links1 {
    flex: 10%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
 }

 @media screen and (min-width: 641px) and (max-width: 1007px){
.topnav #links1 {
    flex: 75%;
    margin-left: -5px;       
    display: flex;
    flex-direction: row;
    padding: 5px 7px;
    align-items: center;
    justify-content: center;   
    text-align: left;
    background-color: brown;
    margin-top: 135px;
    border-radius: 5px;
    width: 100%;
    }
 }

 @media screen and (min-width: 1008px) {
    .topnav #links1 {
        flex: 30%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        background-color: rgb(70, 6, 70);
        padding: 5px 5px;
      
    }
}




.topnav #links1 .links {
   padding: 8px 18px; 
}

    

.topnav #links1 .links:hover {
    background-color: whitesmoke;
    border-radius: 5px;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .topnav #links1 .links { 
        padding: 5px 5px;
        width: 24%;
        text-align: center;
        
    }
}


@media screen and (min-width: 641px) and (max-width: 1007px) {
    .topnav #links1 .links:hover { 
        background-color: rgb(221, 141, 141);
    }
}


@media screen and (min-width: 1008px) {
    .topnav #links1 .links {
      padding: 10px 45px;
      width: 15%;
      background-color: rgba(111, 119, 128, 0.5);
      border: 0.5px solid black;
      border-radius: 5px;
      margin: 0px 7px;
    }
}

@media screen and (min-width: 1008px) {
    .topnav #links1 .links:hover {
        background-image: url(../images/fabric2.jpg);
       background-size: cover;
       color: rgb(48, 5, 48);
       background-color: rgb(0, 0, 0);
    }
}



.topnav #links1 .links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.topnav #links1 .links a:hover {
    color: indianred;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .topnav #links1 .links a{ 
        font-size: 1rem;
        color: white;
      }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .topnav #links1 .links a:hover { 
        border-bottom: 0.5px solid goldenrod;
        border-radius: 0px;
        color: black;
        }
}

@media screen and (min-width: 1008px) {
    .topnav #links1 .links a {
       font-size: 1.1rem;
    }
}

@media screen and (min-width: 1008px) {
    .topnav #links1 a:hover {
       color: rgb(70, 6, 70);
    }
}

.topnav #links1 .links a:active {
    color: black;
}



.topnav #logo img {
    width: 180px;  
    padding-left: 10px; 
}


.about-mid {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.about-mid .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.about-mid .main .background{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-mid .main .background img{
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
.about-mid .main .background img{
   width: 100%;
   height: 100vh;
    object-fit: cover;
}
}


@media screen and (min-width: 1008px) {
    .about-mid .main .background img{
       width: 100%;
       height: 100vh;
        object-fit: cover;
    }
    }
.about-mid .main .writeup{
    width: 70%;
    padding: 5px;
   position: absolute;
   top: 40px;
   left: 70px;
}


@media screen and (min-width: 641px) and (max-width:1007px){
.about-mid .main .writeup {
    position: absolute;
    top: 15%;
    left: 13%;
    width: 70%;
}
}

@media screen and (min-width: 1008px) {
    .about-mid .main .writeup {
        position: absolute;
        top: 15%;
        left: 18%;
        width: 60%;
    }
    }

.about-mid .main .writeup h1{
    width: 100%;
    color: rgba(1, 114, 19, 0.932);
    padding: 0px 5px;
    font-size: 40px;
    margin-bottom: 50px;
}

@media screen and (min-width: 641px) and (max-width:1007px){
    .about-mid .main .writeup h1{
        font-size: 45px;
    }
    }


    @media screen and (min-width: 1008px) {
        .about-mid .main .writeup h1{
            font-size: 45px;
        }
        }
    

.about-mid .main .writeup p{
    width: 100%;
   color: white;
   padding: 0px 15px;
   font-size: 18px;
}

@media screen and (min-width: 641px) and (max-width:1007px){
    .about-mid .main .writeup p{
        font-size: 22px;
        line-height: 2rem;
    }
    }

    @media screen and (min-width: 1008px) {
        .about-mid .main .writeup p{
            font-size: 22px;
            line-height: 2rem;
        }
        }

.about-mid .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

@media screen and (min-width: 1008px) {
    .about-mid .values{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    }



.about-mid .values .vismis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   padding: 40px;
}



.about-mid .values .vismis .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    
}


@media screen and (min-width: 1008px) {
    .about-mid .values .vismis .image{
        position: unset;
            }
    }



.about-mid .values .vismis .image img{
   width: 98%;
   object-fit: cover;
   
}


@media screen and (min-width: 1008px) {
    .about-mid .values .vismis .image img{
        width: 425px;
        height: 300px;
            }
    }

.about-mid .values .vismis .writeup{
    width: 80%;
    position: absolute;
    left: 15%;
    padding: 10% 11%;
    }


    @media screen and (min-width: 1008px) {
        .about-mid .values .vismis .writeup{
            position: unset;
            margin-top: -340px;
            padding-left: 120px;
            display: flex;
            flex-direction: column;
            
        }
    }
    

.about-mid .values .vismis .writeup h2{
    width: 100%;
    color: white;
    padding: 0px 5px;
    font-size: 30px;
    margin-bottom: 10px;
}


@media screen and (min-width: 641px) and (max-width:1007px){
    .about-mid .values .vismis .writeup h2{
        font-size: 40px;
    }
    }


    @media screen and (min-width: 1008px){
        .about-mid .values .vismis .writeup h2{
            font-size: 30px;
        }
        }




.about-mid .values .vismis .writeup p {
    width: 70%;
    color: rgba(106, 189, 120, 0.932);
    padding: 0px 5px;
    font-size: 15px;
    margin-bottom: 50px;
    
}

@media screen and (min-width: 641px) and (max-width:1007px){
    .about-mid .values .vismis .writeup p{
        font-size: 20px;
       
    }
    }


    @media screen and (min-width: 1008px){
        .about-mid .values .vismis .writeup p{
            font-size: 20px;
            width: 80%;
        }
        }

.about-mid .bottom-pics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

@media screen and (min-width: 641px){.about-mid .bottom-pics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
}
}
.about-mid .bottom-pics .images {
    width: 33%;
    height: 100%;
}

.about-mid .bottom-pics .images img {
    width: 200px;
    height: 200px;

}



































.footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}

.footer .address{
    text-align: center;
    
}

.footer .address p{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.footer .address p em{
    color: black;
    font-family: 'Elsie Swash Caps', cursive;
}


.footer .email a{
    color: navajowhite;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.footer .phone{
   color: white;
   font-family: 'Elsie Swash Caps', cursive;
}

.footer .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}

.footer .socials .if{
    padding-top: 25px;  
    
}

.footer .socials .if a{
    color: white; 
    font-family: 'Elsie Swash Caps', cursive;
}


.footer .socials .whatsapp p{
    color: white; 
    padding-top: 8px; 
    font-family: 'Elsie Swash Caps', cursive;
}