.mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/fabric2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;   
    padding-bottom: 20px;
}

.mainbody .labelname {
    width: 100%;
}

.mainbody .labelname h1{
    color: white;
    text-align: center;
}

.mainbody .services {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
}

.mainbody .services .sections {
    width: 100%;
}

.mainbody .services .sections h2{
    padding:  1px 20px;
    color: rgb(70, 6, 70);
}

.mainbody .services .sections p{
    padding: 10px 10px;
    color: rgb(51, 9, 51);
    background-color: transparent;
    border: 0.5px solid gainsboro;
    margin: 20px;
    border-radius: 4px;
}